.presentation-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.presentation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.presentation-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divider {
    background-color: var(--primary-color);
    width: 40px;
    height: 2px;
}

.presentation-content {
    width: 90%;
    height: auto;
    margin-top: 40px;
}

.presentation-content p {
    font-size: 15px;
    color: #919197;
}

.presentation-content a {
    font-size: 15px;
    color: var(--primary-color);
}