.footer-section {
    width: 100vw;
    background-color: #112F47;
}

.footer-box-top {
    display: flex;
    gap: 40px;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid #fff;
}

.footer-info {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info p {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #fff;
}

.footer-box-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer-box-icon-social-media {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.footer-box-icon-social-media svg {
    color: var(--primary-color);
}

.footer-links,
.footer-contact,
.footer-support {
    min-width: fit-content;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-links h4, 
.footer-contact h4,
.footer-support h4 {
    width: fit-content;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 1px solid #fff;
}

.footer-links ul, 
.footer-contact ul,
.footer-support ul {
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding: 0;
}

.footer-links li, 
.footer-contact li,
.footer-support li {
    margin-bottom: 10px;
    cursor: pointer;
}


.footer-contact ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-contact ul li p {
    margin: 0;
}
