@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #2E9AFE;
    --second-color: #224589;
    --third-color: #213764;
    --black-color: #000000;
    --white-color: #FFFFFF;
}


* {
    font-family: "Nunito", sans-serif;
  }
  