@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --primary-color: #58ACFA;
    --second-color: #A9F5E1;
    --second-text-color: #585858;
}

/* 
* {
    font-family: "Nunito", sans-serif;
  } */

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}
  
.global-section {
    height: 100%;
    padding: 150px;
}

.global-title {
    margin: 0 ;
    font-size: 25px;
}

.global-subtitle  {
    font-size: 17px;
    margin: 0;
    color: #919197;
    font-style: italic;
}
