@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --primary-color: #2E9AFE;
    --second-color: #224589;
    --third-color: #213764;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

/* 
* {
    font-family: "Nunito", sans-serif;
  } */

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}
  
.global-section {
    height: 100%;
    margin: 150px;
}

.global-title {
    margin: 0 ;
    font-size: 25px;
}

.global-subtitle  {
    font-size: 17px;
    margin: 0;
    color: #919197;
    font-style: italic;
}
