.reasons-section {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(88, 172, 250, 0.16);
    padding: 10%;
    width: 100vw;
    height: auto;
}

.reasons-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.reasons-title h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.reasons-title h2 span {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #FFFFFF;
    transform: rotate(-4deg);
    width: fit-content;
}

.reasons-title p {
    font-size: 15px;
    color: #585858;
}

.reasons-content {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 20px;
}


.item-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.item-content:nth-child(2n) {
    background: rgb(22,119,255);
    background: radial-gradient(circle, rgba(22,119,255,0.8044467787114846) 0%, rgba(255,255,255,1) 100%);
}

.item-content:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.item-img {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.item-img img{
    width: 80%;
    height: auto;
}

.item-content.show {
    opacity: 1;
    animation: fade-up 400ms linear forwards;
  }
  
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(150px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }