.events-section {
    font-family: 'Nunito', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 1px solid red;
}

.events-header {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.events-header .box-left {
    max-width: 50%;
}

.events-header .box-left h2 {
    margin-top: 0;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.events-header .box-left h2 span {
    color: var(--primary-color);
}

.events-header .box-left p {
    font-size: 15px;
    color: #585858;
}

.events-header .box-right {
    max-width: 50%;
}

.events-header .box-right button, 
.event-item button{
    width: max-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.events-content {
    max-width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
    color: #FFFFFF;
}

.events-carousel {
    display: flex;
    height: auto;
    transition: all 1s ease-in-out ;
}

.event-item {
    position: relative;
    min-width: 100%;
    border: 1px solid red;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
}

.event-item .box-left {
    max-width: 50%;
    height: auto;
    padding: 30px;
    background-color: #112F47;
    border-top-left-radius: 20px;
}

.event-item ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.event-item ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-item .event-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

.event-item .event-date p,
.event-item .event-local p{
    font-size: 15px;
}

.event-item .event-description p {
    font-style: italic;
    font-size: 14px;
}

.event-item .box-right {
    max-width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-item .box-right .event-image {
    width: 100%;
    height: 100%;
}


.event-item .box-right .event-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    object-position: center; 
}

.event-item .button-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.event-item .button-slide svg {
    color: #000;
    font-size: 30px;
}

.event-item .button-right {
    right: 5%;
}

.event-item .button-left {
    left: 5%;
}
