.about-section {
    width: 100vw;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    margin: 0;
}

.about-section-box-left {
    padding: 5%;
    width: 50%;
}

.about-title h2 {
    font-size: 25px;
    font-family:"Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

.about-title h2 span {
    color: var(--primary-color);
}

.about-title p {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    color: #585858;
}

.about-text p {
    line-height: 1.5em;
    text-indent: 40px;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
} 

.box-button-know-more {
    width: 50%;
    display: flex;
}

.box-button-know-more button {
    width: max-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.about-section-box-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/about/asset-section-about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: auto;
    
}

.about-section-box-right img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

}

.play-video-about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 50px;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
