.component-logo {
    width: auto;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.company-name p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.company-name p:first-of-type {
    font-size: 15px;
    font-weight: 600;
}

.company-name p:last-of-type {
    font-size: 13px;
}