.component-card {
    position: relative; 
    padding: 0;
    margin: 0;
    width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out 500ms;

}
  
.component-card:hover {
    transform: scale(1.05);
}
  
.card-image {
    position: relative;
    width: 80%;
    margin: 0;
    padding: 0;
}

.card-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.5;
}
  
.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .component-card:hover .learn-more-link {
    opacity: 1; 
  }
  

  
  .card-title h4 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  
.card-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.card-description h4 {
    font-size: 20px;
    margin: 0;
}

.card-description p {
    font-size: 15px;
    color: #848484;
}
  
