.component-card {
    position: relative; 
    margin: 0;
    width: 300px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out 500ms;
    padding: 10px;
    padding-bottom: 20px;
}
  
.component-card:hover {
    transform: scale(1.05);
}
  
.card-image {
    position: relative;
    width: 280px;
    height: 230px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

.card-fundo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6) ;
    width: 280px;
    height: 230px;
    border-radius: 20px;
}

.card-image img {
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
  
.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}
  
.card-title h4 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
  
.card-description {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-description h4 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-description p {
    font-size: 12px;
    color: #848484;
}

.card-footer {
    position: relative;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-footer p {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.card-footer .card-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-footer .card-price {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
}


