.feedback-section {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(88, 172, 250, 0.16);
}

.feedback-header {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.feedback-header h2 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.feedback-header span {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transform: rotate(-2deg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.feedback-header p {
    font-size: 15px;
}

.feedback-content {
    display: flex;
    max-width: 100%;
    height: auto;
    gap: 20px;
}

.feedback-emphasis {
    position: relative;
    transition: opacity 1s ease-in-out;
}

.feedback-emphasis img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.icon-play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 50px;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.feedback-info {
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.feedback-info h3,
.feedback-info h4, 
.feedback-info p {
    margin: 0;
    margin-bottom: 5px;
    text-align: justify;
}

.feedback-info .feedback-autor {
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.feedback-info .feedback-course {
    color: #A4A4A4;
    font-weight: 400;
}

.feedback-info .feedback-stars {
    display: flex;
    align-items: center;
    color: gold; /* Cor das estrelas */
}

.feedback-info .feedback-stars svg {
    font-size: 20px; /* Tamanho das estrelas */
}

.feedback-info .feedback-title {
    font-size: 15px;
    margin-top: 10px;
}

.feedback-info .feedback-comment {
    color: #424242;
    font-weight: 600;
    font-size: 13px;
}

.other-feedbacks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
}

.feedback-item {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    border: 2px solid var(--primary-color);
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: all 400ms ease;
}

.feedback-item:hover {
    transform: translateY(-20px);
}

.box-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    object-position: center; 
}

.box-autor h5,
.box-autor h6 {
    margin: 0;
    
}