.courses-section {
    overflow: hidden;
    height: auto;
    font-family: 'Nunito', sans-serif;
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.courses-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.courses-header .courses-info h2 {
    margin: 0 ;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* .courses-header .courses-info p {
    font-size: 17px;
} */

.courses-header .view-all-courses {
    cursor: pointer;
    color: var(--primary-color);
}

.courses-content {
    display: flex;
    flex-direction: column;
    height: auto;
}

.courses-carousel {
    display: flex;
    height: auto;
    transition: all 1s ease-in-out ;

}

.courses-carousel.slide-1 {
    margin-left: 0%;
}

.courses-carousel.slide-2 {
    transform: translateX(-100%) ;
}

.courses-carousel.slide-3 {
    transform: translateX(-200%);
}
  
.carousel-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: auto;
    gap: 20px;
}

.buttons-slide-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.button-slide {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #585858;
    cursor: pointer;
}

.button-slide-select {
    background-color: var(--primary-color);
    border: none;
}