.component-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color: #fff;
    width: 100%;
    height: 100px;
    z-index: 3;
    position: fixed;
}

.header-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }