.dashboard-section {
  background-color: #112F47;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

}

.dashboard-item {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 400ms ease-in-out ;
}

.dashboard-item svg {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: bold;
}

.dashboard-item div h3 {
  padding-top: 5px;
  animation: fade-up 1s linear forwards;

}

.dashboard-item div h2,
.dashboard-item div h3 {
  margin: 0;
  color: #FFFFFF;
}

.dashboard-item div h2 {
  border-bottom: 2px solid var(--primary-color);
}

.dashboard-item.show {
  opacity: 1;
  animation: fade-up 400ms linear forwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}