.section-home {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #fff;
    display: flex;
    position: relative;
}

.info-home {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10%;
    font-family: 'Nunito', sans-serif;
}

.title-home,
.text-home {
    width: 450px;
}

.title-home h1 {
    font-size: 40px;
    font-weight: 500;
    animation: fade-left 1s linear forwards;
}

.title-home h1 .differentc-color {
    color: var(--primary-color);
}

.title-home h1 .text-background {
    display: inline-block;
    transform: rotate(-4deg);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-home p {
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    animation: fade-left 1.2s linear forwards;
}

.home-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.home-buttons button {
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: fade-left 1.3s linear forwards;

}


.get-started {
    background-color: var(--primary-color);
    color: #fff;
}

.watch-video {
    background-color: transparent;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color);
}

.image-home {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: rgb(22,119,255);
    background: radial-gradient(circle, rgba(22,119,255,1) 0%, rgba(255,255,255,1) 100%);
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
    animation: fade-right 1s linear forwards;

}

.box-img img {
    position: relative;
    width: 70%;
    height: auto;
    animation: fade-right 2s linear forwards;
}


@keyframes fade-left {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes fade-right {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }
}